<ion-menu contentId="main-content" menuId="main-menu" side="start" type="push">
  <ion-content color="light">
    <div class="side-menu-content">
        <div class="circle"></div>

        <ion-list class="menu-list">
          <ion-item 
            *ngFor="let page of mainPages; let i = index"
            routerDirection="root" 
            [routerLink]="[page.url]" 
            lines="none" 
            detail="false" 
            routerLinkActive="selected"
            color="transparent"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
            <ion-label>{{ page.title }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-button class="sign-out" color="transparent" shape="round" size="medium" (click)="signOut()">
          <ion-icon name="power"></ion-icon>
        </ion-button>
    </div>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>