<ion-split-pane contentId="main">
  <ion-menu contentId="main" menu="main-menu" side="start" type="push">
    <ion-content>
      <ion-list>
        <ion-item 
          *ngFor="let page of mainPages; let i = index"
          routerDirection="root" 
          [routerLink]="[page.url]" 
          lines="none" 
          detail="false" 
          routerLinkActive="selected"
        >
          <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>