<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start">
        <ion-icon name="menu" color="dark"></ion-icon>
    </ion-menu-button>
    <ion-title class="ion-text-center">LOGO</ion-title>
    <ion-button shape="circle" fill="clear" slot="end">
      <ion-icon name="settings" color="dark"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-item routerLink="/" lines="none"><ion-label color="medium" class="ion-text-center"><small>MISSIONS</small></ion-label></ion-item>
      </ion-col>
      <ion-col>      
        <ion-item routerLink="/" lines="none" ><ion-label color="medium" class="ion-text-center"><small>NOTES</small></ion-label></ion-item>  
      </ion-col>
      <ion-col>        
        <ion-item routerLink="/" lines="none"><ion-label color="medium" class="ion-text-center"><small>REQUESTS</small></ion-label></ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="movies.length" class="master-list-wrapper">
    <ion-card
      *ngFor="let movie of movies"
      [routerLink]="movie.id"
      button="true"
      routerDirection="forward" 
    >
      <ion-img [src]="this.tmdbImgURL + '/w342' + movie.poster_path"></ion-img>

      <ion-card-header>
        <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto" class="ion-margin-end">
            <p>{{(movie.vote_average * 10).toFixed(0)}}%</p>
          </ion-col>
          <ion-col>
            <ion-card-title>{{movie.original_title}}</ion-card-title>
          </ion-col>
        </ion-row>
        </ion-grid>
      </ion-card-header> 


      <ion-card-content>
        {{ movie.overview.substring(0, 125) }}...
      </ion-card-content>
    </ion-card>
  </div>
  <p *ngIf="error" class="ion-margin-top">Whoops! It looks like there was an error. Please try refreshing the page.</p>
</ion-content>
